body{
    margin: 2rem 10rem;
    background-color:rgb(206, 225, 232)


}
.sec{
    margin-top: 2rem;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem;
    border-radius: 5px;
   
}
input{
    margin-top: 1rem;
    max-width: 5rem;

}
.label{
    
}
.finalW{
    margin-top: 1rem;
    text-decoration:underline;
    font-size: larger;
    font-weight: 400;
}
.wrapper{
    max-width: 50%;
    border: 1px solid black;
    padding: 1rem;
}

.btn{
    margin-top: 1rem;
    padding: 0 0.8rem ;
}